doctype html
html(lang='en' data-bs-theme="dark")
  include common/head.pug
  +head("Awesome Node+Express")
  body
    header
      include common/navbar.pug
      +navbar(user)
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Awesome Landing Page
            p.lead Node + Express web app covering key topics.
            p.lead Using Postgres, Jquery, Bootstrap
            p.lead.mb-4 Start collecting emails for sales leads.
            form(action="/", method="POST")
              .input-group.mb-3
                input(name="lead_email", type="email", placeholder="Enter your email address").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Submit
    include common/footer.pug
    +footer()