doctype html
html(lang='en' data-bs-theme="dark")
  include ../common/head.pug
  +head("Lead Details")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Lead
            table.table
              thead
                tr
                  th(scope="col") Email
                  th(scope="col") Edit
                  th(scope="col") Delete
                tr
              tbody                              
                tr(id=lead.id)
                  td
                    span #{lead.email}
                  td
                    a(href="/lead/" + lead.id + "/edit") Edit
                  td 
                    form(action="/lead/" + lead.id + "/delete", method="POST")
                      button(type="submit").btn.btn-primary Delete
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')